.app_green_theme {
  --bg-color: #006170;
  --inverted-bg-color: #F4FAFB;
  --primary-color: #F4FAFB;
  --secondary-color: #989aa6;
  --inverted-primary-color: #006170;
  --inverted-secondary-color: #24c7df;
  --link-color: #00ffc2;

  //skeleton
  --skeleton-color: #29c6ae;
  --skeleton-shadow: #7dcab8;

  //code background
  --code-bg: #0000005e;
}
