@use 'themes/dark';
@use 'themes/light';
@use 'themes/green';
@use 'variables/global';
@use 'reset';

#root {
  padding: 0!important;
  margin: 0!important;
  max-width: 100%!important;
}

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100%;
  width: 100%;
}

a {
  text-decoration:unset!important;
}

.wrapper-content {
display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px 20px 20px 45px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  width: 100%;
}

